[2015-02-13 21:31] StreakyCobra opened #1 "Repository without url not showing on 0.1.6-DEV"
After commit 856a09be36adfb01205a538de5c3ed2dcfd7c3b1, repositories without URL are not showing in the list.

[2015-02-17 08:12] StreakyCobra opened #2 "Support comment in projects file"
Support adding comments (e.g. line starting with # ) in the projects file.

[2015-02-21 11:13] StreakyCobra opened #3 "Correct english mistakes"
List of mistakes to correct:

- "Already exist" –> "Already exists"
- Show me pictures (images)
- for you*r* distribution
- It reveals which repositories are clean, which one*s* have uncommited changes, or even to know which one*s* are not up-to-date with origin. (Je pense que tu voulais dire origin.)
- Let*'s* say
- Then you*r* workspace
- who use*s* heavily git
- For instance my current organisa

[2015-02-24 09:02] Blount opened #4 "Problème d'espace"
Bonjour.
J'ai des espaces dans le nom des répertoires. Lorsque que je fais un init, il me prend chaque mot comme un dépôt.
Exemple :
Un deux trois/.git
Va devenir :
Un |  |
deux |  |
trois |  |

Est-il possible d'avoir une correction à ce niveau ?

Sinon, programme vraiment sympa et une prise en main enfantine.

[2015-02-24 09:26] StreakyCobra commented on #4
Hello,

    Est-il possible d'avoir une correction à ce niveau ?

Hum, je vais essayer de me battre avec bash pour qu'il gère ça, mais ce n'est pas gagné…

    Sinon, programme vraiment sympa et une prise en main enfantine.

Merci, ça fait toujours plaisir à entendre :-)

[2015-02-27 15:33] StreakyCobra opened #5 "Selling it as a git subcommand?"
It could be interesting to sell it as a `git` subcommand to clarify its relation to `git`.

[2015-03-02 23:13] StreakyCobra opened #6 "Return codes in `git_check_branch_origin`"
In the `git_check_branch_origin` function, there is a check for an error that returns "success":

[code]

This case must normally never happen, but it  should maybe be treated in a more clean way.

Reported by mail: Frédéric Mahé

[2015-03-12 22:13] #2 closed

[2015-03-12 22:13] #3 closed

[2015-03-12 22:13] #6 closed

[2015-03-12 22:14] #1 closed

[2015-03-16 21:22] GeoffreyPlitt opened #10 "Mac?"
How do I install this on Mac OS X?

[2015-03-16 21:25] kniren commented on #10
Just put the bash script that is located on the `src` folder within your path.

[2015-03-16 21:31] StreakyCobra commented on #10
Mac is beyond my knowledge. Thanks @kniren for the answer. If anybody is motivated, feel free to send a patch (or PR) to add OS X insructions in the README.

[2015-03-16 21:46] kniren commented on #10
It is virtually identical to the *other linux* installation section. Just to clarify a little bit though, I've made a pull request including instructions in the README for setting up the $PATH variable to a directory of your choosing.

[2015-03-16 22:05] StreakyCobra commented on #10
Thanks @kniren, merged with credits outside PR: 9090042ea744aa166ae478cac10615610fa8a5d3.

[2015-03-16 22:05] #10 closed

[2015-03-17 12:51] dsager opened #12 "Feature Request: Support for multiple remotes"
It would be great if GWS supported multiple remotes instead of the two hard-coded defaults `origin` and `upstream`.

I often happen to work with additional remotes (e.g. `heroku` or `octopress`) and also have a different naming scheme in some repositories (e.g. `mine` and `origin` instead of `origin` and `upstream`). These are ignored by `gws init` and I don't see any way to configure it manually.

[2015-03-17 14:56] llabball opened #13 "mention the minimum of version number for bash on OSX"
Thank you for gws - it totally fits my needs. I use it on OSX, Ubuntu and Redhat.

On OSX i had to do an additional installation step: upgrading `bash` like `brew install bash`.

The reason was that the bash version 3 don't includes the `readarray` function. Bash 4 do - so, it is an easy to solve blocker.

[2015-03-17 16:05] StreakyCobra commented on #12
I was afraid of seeing this request arriving. I started the script without thinking of sharing it, so at the beginning it was just the `folder | url` syntax. Then I extended it because I was needing upstream urls for some projects: it became `folder | url | upstream`. I noticed this was a bad solution but, who  cares, it's just a script for myself. So when I started sharing it, I knew this request

[2015-03-17 16:15] #13 closed

[2015-03-17 16:15] StreakyCobra commented on #13
With pleasure, glad to hear it is useful.

Comment added!

[2015-03-26 20:43] casidiablo opened #14 "Allow to specify the repository(s) to update"
Let's say I have 3 projects, and I want to do `gws ff` on just one of them. Something like this: `gws ff project1`

[2015-05-11 15:59] dsager commented on #12
Thanks for your answer and reasoning, @StreakyCobra. I didn't get (or missed) the notification about the comment, so sorry for the late reply :)
I agree that bash makes things a bit complicated and can understand that you want to keep the whole thing simple. Like it is you can run it out of the box without installing any dependencies...

Soonish I will get a new computer and will have to migrate,

[2015-05-11 20:00] StreakyCobra commented on #12
No problem, I wasn't waiting on the answer anyway! And thank you for your interest and time!

The syntax you propose looks nice and keeps backward compatibility in an elegant way :-) . So about my 4 concerns:

- File format and parsing: This syntax is simple and must be easily parsable
- Working with remotes internally: Already implemented
- Speed concerns: With this format there must not be a lot

[2015-05-12 16:47] dsager commented on #12
As I'm mostly interested in backup and restore I'd be totally fine with the status command only checking origin. Two possible enhancements:

- Allow to run the status for a single repository only, this will check all branches
- Add a flag for full status info (all remotes + all branches)

But like I said, I'm fine with status only looking at origin. For more detailed info I would use git directly.

[2015-05-13 06:22] StreakyCobra commented on #12
The development version `0.1.8` already allows to run a subcommand on a subset of repositories. I don't like the idea to have a difference if the command is run for one repository or several. But sure adding a flag for showing the full status is a good solution.

I'm also fine with just checking against `origin`, because it is my usage. So let's wait for other people explicitly asking for it befor

[2015-05-13 11:10] dsager commented on #12
I just played around a little with the line parsing and came up with what you can see in the following gist:

https://gist.github.com/dsager/00cad170e0e752a3ca27

Obviously it's missing the default values `origin` and `upstream` and is not 100% compatible with your current code (using the `cut` command), but it might serve as a starting point...

What do you think?

[2015-05-13 12:02] StreakyCobra commented on #12
I'm not specially attached to use `cut`. I use it because it was the obvious one for this purpose :-)

- Why not using something like:

[code]
to get the directory and row instead of lines [6-10]?

- Same remark for lines [15-18]:

[code]

- I like using good variable names, like `REMOTES` is probably better than `ROW` as I wrote it. But that's cosmetic.

[2015-05-18 08:58] dsager commented on #12
hey, sorry for the late reply again :)

Yes, your approach works fine as well I guess. I just liked the idea of using as little external tools as possible (`${string%%substring}` syntax vs `cut`). But on the other hand cut should be available on any *IX system I guess :)

[2015-05-18 09:29] StreakyCobra commented on #12
Hi,

No problem!

Yes, `cut` is part of coreutils, and they are [supposed][1] to be installed everywhere: `«These are the core utilities which are expected to exist on every operating system.»`

You are right about having the smallest possible set of dependencies, but there is also a readability counterpart, which is my main concern here. If someone needs to understand or maintain this part in 6 m

[2015-06-14 22:12] StreakyCobra commented on #12
The `develop` branch now contains a proposal solution tackling this issue. The file format is:

    FOLDER | URL_1 [NAME_1] [ | URL_2 [NAME_2] [ | URL_n NAME_n ... ] ]

If `NAME_1` is not specified, it is assumed to be `origin`
if `NAME_2` is not specified, it is assumed to be `upstream`
At least one `URL` must be associated with the name `origin`

Here are some points regarding my previous concer

[2015-06-15 07:41] dsager commented on #12
that's awesome, I'll give a try later on and let you know!

[2015-06-15 09:00] dsager commented on #12
It seems to work just fine, at least the `gws update`. Thanks a lot! I'm closing this issue!

[2015-06-15 09:00] #12 closed

[2015-07-20 21:18] #14 closed

[2015-07-27 09:59] scls19fr opened #17 "Local only repository - Mac OS X support"
Hello,

gws doesn't seems to work correctly with Mac OS X 10.10

    $ brew install bash

    $ brew install gnu-sed

doesn't seems to fix it.

All repository inside my workspace are marked as

    Clean [Local only repository]

or

    Dirty (Uncached changes) [Local only repository]

Any idea ?

[2015-07-27 10:05] kniren commented on #17
Are you sure you are running `bash > 4`?

You can check with

    bash --version

[2015-07-27 10:07] StreakyCobra commented on #17
Thanks for reporting. I confirm last version is using some `GNU-sed` specific flags.

I'm thinking about either:

* Updating the README to ask for GNU-sed installation; or
* Updating the code to avoid the usage of problematic flags.

Concerning the last problem, it's probably related to few `cut` commands using GNU-cut specific flags like `--complement`. Same concern here.

I'll investigate and th

[2015-07-27 10:49] scls19fr commented on #17
[code]

[2015-07-27 10:55] scls19fr commented on #17
$ brew install coreutils
==> Downloading https://homebrew.bintray.com/bottles/coreutils-8.24.yosemite.bottle.tar.gz
######################################################################## 100,0%
==> Pouring coreutils-8.24.yosemite.bottle.tar.gz
==> Caveats
All commands have been installed with the prefix 'g'.

If you really need to use these commands with their normal names, you
can add a "gnubin

[2015-07-27 11:05] StreakyCobra commented on #17
Solutions so far:
* Updating the `README` to ask for installing `coreutils` and changing the `$PATH` accordingly
* Updating the `README` to ask for installing `coreutils`, modifying the code to switch to `g`-prefixed tools on OS X.
* Modifying the code to avoid using problematic `coreutils` options

@scls19fr: can you confirm the script is working with `coreutils`' version of `sed` and `cut`?

[2015-07-27 11:14] scls19fr commented on #17
Yes after changing PATH it works

    export PATH=$PATH:$HOME/gws

    export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
    export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"

but I'd prefer a less intrusive solution

[2015-07-27 11:20] StreakyCobra commented on #17
Ok thanks.

I can understand.

In the meantime you can define an alias in your `.bashrc` or `.zshrc`:

alias gws="PATH=/usr/local/opt/coreutils/libexec/gnubin:$PATH gws"

which should do the work without requiring a system-wide update of `$PATH`.

[2015-07-27 11:25] scls19fr commented on #17
I think it's

    alias gws="PATH=/usr/local/opt/coreutils/libexec/gnubin:usr/local/opt/gnu-sed/libexec/gnubin:$PATH gws"

For many repo I get

"Dirty (Untracked files)"

How to cleanup this ?

[2015-07-27 11:45] StreakyCobra commented on #17
Ok, I was thinking `coreutils` path was enough.

This appears when there are files which are not followed by git, nor ignored by it. When you do a `git status` they are showed under "Untracked files:"

* If the files are needed for your project, they should be versionned by git
* If they are generated by your code, or not needed like local configuration files or whatever,  they should be ignored t

[2015-07-27 11:53] scls19fr commented on #17
Ok I will correct my `.gitignore` accordingly.

[2015-07-27 19:27] StreakyCobra commented on #17
Could you try the version in the `develop` branch without GNU-coreutils?

Issues with OS X `sed` and `cut` should have been resolved.

[2015-07-28 13:01] tst2005 commented on #4
Hello,

J'ai tenté de supporter les paths avec espaces, en réimplementant les fonctions d'import/export d'array.

Voir : https://github.com/tst2005/git-ws/commit/5497322ab92bcc2797c2e31bc9e400a203c93f72

Ca semble fonctionner correctement \o/

Attention: le support d'exclusion a été désactivé (car il explose les données...)

[2015-07-28 13:22] StreakyCobra commented on #4
Hello,

C'est intéressant. Si ça ne cause pas de régression, et que il y a moyen de faire marcher la `ignore list`, je l'intègre!

[2015-07-28 18:42] scls19fr commented on #17
I still need some git lessons.

    $ git branch
    * master

How to change to `develop` branch ?

[2015-07-28 18:53] StreakyCobra commented on #17
Running:

[code]
should be enough :-)

[2015-07-28 19:03] scls19fr commented on #17
I removed alias

    alias gws="PATH=/usr/local/opt/coreutils/libexec/gnubin:usr/local/opt/gnu-sed/libexec/gnubin:$PATH gws"

First run

    $ gws
    The URL at position 3 for "OneOfRepository" is missing a name.

Running again

    $ gws

returns nothing

[2015-07-28 19:12] scls19fr commented on #17
Something odd happened...

After

    $ git checkout master

and setting again alias

    alias gws="PATH=/usr/local/opt/coreutils/libexec/gnubin:usr/local/opt/gnu-sed/libexec/gnubin:$PATH gws"

when I do:

    $ gws

it doesn't returns anything anymore.

I also tried to remove `.projects.gws`

    $ gws init
    Workspace file «.projects.gws» created.

    $ gws

returns nothing

Any idea ?

[2015-07-28 19:14] StreakyCobra commented on #17
Hum, depressing  :expressionless:

But trying to be positive: There are no more version-specific's errors.

To solve your problem: I implemented a cache system to speedup the execution by avoiding parsing every time the `.projects.gws` file. Cache is stored in the `.cache.gws` file. Just remove it and everything will get back to a working state.

[2015-08-22 14:36] pulkomandy opened #20 "Repos with common prefix won't work."
My layout is:

[code]

gws ignores bar-foo because it has "bar" as a prefix. The function remove_prefixed seems to be the problem, as it doesn't check for / just after the prefix. So it excludes more than subdirectories.

[2015-08-23 09:54] StreakyCobra commented on #20
Hi,

Thanks for you contribution!

I was able to reproduce your problem, and indeed the `remove_prefixed` function is the cause. The fix seems simple but I need to check a little bit more if it will cause any other regressions.

BTW the `remove_prefixed` function is used only when calling `gws init` or `gws check`, not when other `gws` commands are called. So in the meantime, just add your `bar-fo

[2015-08-28 07:19] victornoel opened #21 "Match branches with their remote in the config"
Hi,

I have a repository with many branches and each of them points to a different remote.
But I don't know why, gws tries to match them to origin… for example I get one with a message as follow:
andreptb :                No remote branch origin/andreptb

But in my git config I have:
[branch "andreptb"]
	remote = andreptb
	merge = refs/heads/master

with andreptb declared as a remote.

[2015-08-28 08:22] StreakyCobra commented on #21
Hi,

At the beginning `gws` was using only two remotes names: `origin` and `upstream`, this was hard-coded inside the script. An issue (#12) was opened about this, and now it's possible to define per-repository [custom remotes names](https://github.com/StreakyCobra/gws#projectsgws) inside the `.projects.gws` file. These informations are only used to allow gws to set remotes when recreating the wor

[2015-08-28 09:08] victornoel commented on #21
I understand better where this comes from: easily setting up local clones.

I think that at least, it would make sense to use the configured remote for each branch to check their status, I don't see why anybody would be expecting something else. That's your first point, and in a way, the original subject of my request.

As for the second point, I didn't even think about it ^^ So yes, I guess you c

[2015-08-28 09:47] StreakyCobra commented on #21
Agreed, I'll investigate on this (when I'll have time :sweat: )

I share your point of view. It is be possible to do it, but it would make everything (code, syntaxes, etc.) more complex. `gws` aims to stay simple :)

[2016-02-24 14:05] ZvikaZ opened #23 "Option to not use color"
Hi.
This is an awesome tool! Thanks.

In my setup, the yellow color is unreadable (attaching screenshot)
![gws_color](https://cloud.githubusercontent.com/assets/3908954/13287469/ee65ffb6-db0f-11e5-9715-30c3c2f741dc.JPG)

Although it can be bypassed by piping the output (like `gws | more`), it'd be better if there was some flag, or config option, to disable the colors (or at least the yellow color.

[2016-02-24 14:32] StreakyCobra commented on #23
Hi,

Thanks. It probably needs more attention than I can give to it though. I don't have the motivation to fight with `bash` any longer. It's working as it is now (I still use it on every day basis), but there will not be a lot of improvements from my side :pensive: I still hope having time to create a new tool for the exact same purpose, but in a more maintainable language (scoop: I'm starting to

[2016-02-24 20:38] ZvikaZ commented on #23
Hi.
Makes sense, I also try to get away from Bash...
Good luck with the rewrite.

Just take into account that if you'll write it in more popular language (maybe Python?) you'd increase the changes of getting code contributions...

I have few more enhacements suggestions.
Are you interested?
(would you prefere that I'll open a new issue for each?)

Thanks again,
Zvika

[2016-02-25 13:31] StreakyCobra commented on #23
Thanks, but I need to find some free time for this first :pensive:

For sure, but I also want to use Rust in a real application, so… let's see :-)

Are you interested?
(would you prefere that I'll open a new issue for each?)

Yes it's always welcome, it could also be useful for someone else wanting to work on a project like this. Just open a new issue and list all your ideas there :smiley:

[2016-02-25 21:39] ZvikaZ opened #24 "Enhancements: verbosity, flat, versions, contradictions"
Few possible enhancements:

1:
Currently GWS is very verbose. It's nice, but if there are many repos, and it's called as part of other script, it can be too verbose...
I think it's better to have 3 level of verbosities:
- High verbose (current):

[code]
- Low verbose: (one line for each component)

[code]
- Quiet:  (only print if something goes wrong)

[code]

The user can have default verbosity,

[2016-02-25 21:52] StreakyCobra commented on #24
Thanks for taking time to write this! I'll consider it when, and if, I continue to work on this project :-)

[2016-10-20 15:11] oupala opened #25 "gws check does not detect git repo inside git repo"
As said in the title, `gws check` does not detect git repo inside git repo and hence cannot report them as _Unknown_.

[2016-10-20 15:24] StreakyCobra commented on #25
Hi, sadly I don't have time to maintain this project anymore :disappointed: I've put right now a message at the top of the README about this. Hopefully someone will want to maintain it and fix this issue.

[2016-10-21 20:21] oupala commented on #25
What a shame...

Do you know any alternative to gws?

[2016-10-21 21:13] StreakyCobra commented on #25
During discussions on other threads online, people talked about a few alternatives that I remember:

- https://github.com/badele/gitcheck which seems to be the most similar to `gws`.

- http://myrepos.branchable.com/ another alternative.

- Some people reported https://source.android.com/source/using-repo.html for the same purpose, but I don't think it's really made for this.

- https://bitbucket.

[2016-11-07 20:31] aveuiller commented on #23
Maybe that's a bit too late, but I just saw this issue, quite randomly.
I had the same problem as @ZvikaZ and made a quick branch on a fork to enable theming of gws, see [here](https://github.com/aveuiller/gws/commit/9e5b7051c52142500c5544e680a0c6a01ad44233).

I can PR you the feature if you are interested.

[2016-11-08 09:40] StreakyCobra commented on #23
This change looks nice. If you PR it I'll merge it. Also, as said in the README now, I don't have time to maintain this project anymore. If you have interest in doing so, please let me know :-)

[2017-03-04 21:13] oupala commented on #25
@StreakyCobra I know you don't maintain **gws** any more.

But as far as I check the source code, what I found is not a bug but a desired feature, or at least a desired behaviour.

[code]

see https://github.com/StreakyCobra/gws/blob/a45c2da2ff1a00e8b8cc6116e9fb4cdd5cca533d/src/gws#L180-L183

Can you please just explain what did you added this behaviour?

And by the way, why did you choosed to not

[2017-03-05 13:46] StreakyCobra commented on #25
IIRC I did this to avoid git submodules being detected because my vim config makes a heavy use of them. I want my vim config repository being shown, but not the 85 git submodules that are inside, so I decided that only first-level git repositories should be used.

I'm still using `git`. I still feel the need of a workspace manager. I'm still using `gws`, but only the basic commands `gws` and `gws

[2017-03-15 18:16] oupala commented on #25
Thanks for this clear answer.

I do understand why you added this git subrepo exclusion. You are using git submodule while I'm using nested submodules without using git submodule feature.

I also understand why you stopped maintaining gws. I'm however using it as it works perfectly for my needs. I may change one day if it my requirements change one day.

[2017-05-20 12:05] JohanSpaedtke opened #29 "Have a flag/loglevel to only show affected repositories"
This is not a bug but a feature request

I use gws in a situation where i have ~150 repositories. It would be really nice to be able to do

gws ff --someNiceFlag

and have the output only show the repos affected (Dirty (Uncached changes) and/or Clean (fast-forwarded)) but not show all the repos with status Clean at all.

Regards
//Johan

[2017-05-20 18:30] emlun commented on #29
I've thought about this too, by being in literally the same situation... ;)

The current structure of the script isn't very well suited for adding the feature on, but I'll look into it. I don't think it should be that much work.

[2017-05-20 20:09] StreakyCobra commented on #29
No, and bash doesn't really help 🙈

[2017-05-20 21:19] emlun commented on #29
Unfortunately, you are very correct. xD

[2017-05-20 21:32] JohanSpaedtke commented on #29
Knowing your language preferences you could always take a look here given you want to keep it in bash :P
http://quasimal.com/posts/2012-05-21-funsh.html
https://github.com/mikeplus64/fun.sh

[2017-05-20 23:17] emlun commented on #29
I think I got it to work without regressions. @JohanSpaedtke Please try #30 and let me know how it works out!

[2017-05-20 23:53] emlun commented on #25
Hi @oupala! I'm the new maintainer. I'm wondering why you need `gws check` to detect nested repositories in the first place, as I'm unaware of a scenario where you'd even have any that are not submodules. Care to enlighten me?

[2017-05-21 00:16] emlun commented on #24
Thank you for your input!

1. This will be somewhat alleviated with the new `--hide-clean` command line option introduced by #30. Does that cover some of your needs?
2. I'm afraid I also don't have the time or will to develop such a feature in bash. It would have to be in a reboot in a more capable language.
3. This has been discussed in #15, and it would be difficult to squeeze the setting into `

[2017-05-21 11:13] StreakyCobra commented on #29
@JohanSpaedtke Thanks for sharing, I'll bookmark this :smile:

@emlun Starting this project in bash was fun at beginning, but now I see this at the worst mistake in my life :scream:

[2017-05-21 11:25] StreakyCobra commented on #24
The format started as a simple list, then have been hacked to fit the need of different remotes, it is far from optimal. Gws is still in `<1.0`, so breaking the file format could be an option if needed.

Someone once suggested to use a standard file format, like YAML, instead of this custom format. This would offer syntax coloration in text editors, and would allow to parse it easily in other lang

[2017-05-23 09:17] JohanSpaedtke commented on #29
@emlun seems to work great with `--hide-clean` but maybe update the help text to clarify that

`gws --hide-clean`

actually works (and I guess is equivalent to `gws status --hide-clean`)

[2017-05-23 14:17] JohanSpaedtke opened #31 "Execute command in all repos"
No idea if you think this is in scope for gws or not but i would like to do the following

`gws run "mvn clean" `

and have that run the command `mvn clean` in all repos. Please just close if you think this is a stupid idea and then I'll just create my own little script for it.

[2017-05-24 08:56] JohanSpaedtke commented on #29
One thing though...
`gws update --hide-clean`
I would have expected it to only show new repositories but (as stated in the help if you actually read it...) it doesn't do anything at all.

[2017-05-24 15:36] oupala commented on #25
Thanks @emlun for maintaining gws!

I'm using nested git repositories without using submodules because I'm working on a project that generates a static website. Each document that needs to be published in the website is in a separate git repository, and the integration is made by continuous integration, not git submodules.

Tell me if I don't give enough information with this comment. And tell wha

[2017-06-01 07:53] emlun commented on #25
Ok, I'll have a look at it and see if and how it seems reasonable to achieve.

[2017-06-01 07:56] emlun commented on #29
Yeah, I've also realized there are a few kinks in the current solution. For one thing, `gws ff` should probably still print those repos that were fast-forwarded.

[2017-06-02 13:09] bastienpaulfr commented on #31
Hi,

I have made something like you want : https://github.com/CoppernicSoftware/gws/tree/bp-dev

It is the command `gws exe`, but you will need to make a little change because I prefix all arguments of `gws exe` by `git`. Unless you change that, you will not able to execute `maven` command.

At least it could be a good start for you.

[2017-06-10 14:26] emlun commented on #29
@JohanSpaedtke `update` now also takes the option, please try it out!

[2017-06-10 14:31] emlun commented on #31
@bastienpaulfr Thanks for sharing your solution!

@JohanSpaedtke However, I'm going to invoke [the README][readme]:

and declare this a wontfix. This is easy enough to as a bash one-liner like

    $ for repo in *; do cd "$repo"; echo "\n\n$repo:\n"; do-something cool ; cd ..; done

[readme]: https://github.com/StreakyCobra/gws#other-thoughts

[2017-06-10 14:31] #31 closed

[2017-06-10 14:38] emlun commented on #25
@oupala I think this is now implemented on the [detect-nested][branch] branch, does it work for you?

[branch]: https://github.com/StreakyCobra/gws/tree/feat/detect-nested

[2017-06-10 16:31] StreakyCobra commented on #31
@emlun By the way, the README is not the law [1] 😄 so if you want to implement this kind of behaviour feel free to do so. I didn't wanted to put potentially destructive operations as part of the gws commands, as it would imply that they are supported safely. But having a «gws exe -- command» that only run commands the users want to run, in all repositories managed by gws, would actually be nice. T

[2017-06-10 16:42] emlun commented on #31
Well, I don't want to implement it.... 😇 Like you I'm not that excited by
the prospect of developing in bash. Bug fixes and minor improvements are
one thing, but I'm reluctant to develop new features.

On Sat, 10 Jun 2017, 18:31 Fabien Dubosson, <notifications@github.com>
wrote:

[2017-06-12 08:47] JohanSpaedtke commented on #29
seems to be working nicely ty :)

[2017-06-12 09:09] JohanSpaedtke commented on #31
Well that one liner could replace most of gws ;P But I understand why you don't want to do it :)

[2017-06-12 10:44] emlun commented on #29
Nice, then this will be included in the next release. :)

[2017-06-12 10:44] #29 closed

[2017-06-14 10:36] JohanSpaedtke opened #32 "Remove repon not under gws controll or detect rename"
Yes I know you don't want gws to be destructive but I'll write this issue any way :)

Imagine the following .projects.gws

[code]

is changed into the following

[code]

Then it would be nice to run eg.

gws purge

and have it notice that
[code]
no longer exists and therefore remove it.

[2017-06-19 15:19] oupala commented on #25
I tested the *detect-nested* branch and I cannot succeed to make it detected nested repository.

I have the following tree:

- workspace
  - project 1
    - nested sub-repo
  - project 2
    - submodule

The only projects detected are `project 1` and `project 2`.

`nested sub-repo` and `submodule` are not detected.

[2017-06-19 16:26] emlun commented on #25
Ok, I'll have another look at it. Thanks!

[2017-07-02 13:13] emlun commented on #32
You're right, I won't add a "purge" command. :) But I agree that a way to detect this would be good to have. Fortunately, the `check` command already fulfills this need nicely. ;)

[2017-07-02 13:13] #32 closed

[2017-07-02 13:57] emlun commented on #25
I tested this again, and I can't make it _not_ work.. :) I'll include this in release 0.1.11, coming up soon. Let me know then if it still doesn't work.

[2017-07-02 14:14] #25 closed

[2017-07-02 14:26] emlun commented on #24
Reviewing this again, I also think git submodules already solve (3) well enough. Migrating to YAML or something similar would be nice of course, but I'd say both of these are out of scope for this incarnation of gws.

[2017-07-02 14:26] #24 closed

[2017-07-02 14:39] emlun commented on #17
On the [feat/cross-platform](https://github.com/StreakyCobra/gws/tree/feat/cross-platform) branch the `cut` commands no longer use the GNU-specific `--complement` option. I don't have a Mac/BSD machine to try it on, though - would anyone (ping @JohanSpaedtke) mind testing if this now works on those platforms with default `PATH`?

[2017-07-03 13:19] JohanSpaedtke commented on #32
Ok next time I'll actually read the documentation first... Check will do 90% of what i want :) Ty very much.

[2017-07-03 13:38] JohanSpaedtke commented on #17
Well I don't know if it works better than before but at least it's different :)

On master you'll get the following with default `PATH`

[code]

On this feature branch you get the following instead

[code]

But on `master` with a modified `PATH` you get

[code]

[2017-07-11 09:46] Cegree opened #33 "GWS doesn't clone/update missing repositories after 3ea1c54 commit"
When you setup your workspace at the first time, it's okay, the repositories are cloned.

If you delete one of them then rerun gws update, contrary to older commits, GWS only says missing repositories without cloning them (even when .cache.gws and .projects.gws are deleted too).

Hope this helps !

Thanks you for this nice script.

@Cegree && @thomas-lemaire

[2017-07-11 12:02] oupala commented on #25
I tried it again.

It appears that nested submodule are detected, but submodules are not detected.

Is this the behavior you were waiting for?

[2017-07-11 12:04] oupala commented on #25
And by the way, when I download gws 0.1.11, and I do `gws -v` on it, it tell me:

[code]

I think you forgot to update version number.

[2017-07-11 12:45] emlun commented on #25
Yes, that is intended; although technically a probable effect of implementation details rather than a proper feature. `gws check` detects a `.git` _directory_, while submodules usually have a `.git` _text file_ instead.

Anyway: I think it is more correct for gws to assume that submodules are not separate from their parent repository since they are after all explicitly linked to it, and git alread

[2017-07-11 12:48] emlun commented on #33
Huh, weird. Thanks for the report! It makes no sense that 3ea1c54 would be the culprit, as that commit changed only the README, but I'll look into it.

[2017-07-11 12:58] oupala commented on #25
I totally agree with you, submodules are *part of the main module* while nested modules are *just nested modules*.

I'm now waiting for an official 0.1.11 or 0.1.12 release of gws so I can update my locale install.

[2017-07-11 13:17] Cegree commented on #33
You're welcome ! It's maybe not this one exactly ... My colleague had its repository pointing to this commit and we tested before and after a git pull, then noticed the bug ...

Good luck !

[2017-07-19 14:15] emlun commented on #33
I've identified and fixed the issue, it will be included in the 0.1.12 release!

[2017-07-19 15:53] emlun commented on #17
That's strange... I was hoping getting rid of `--complement` would solve it, but I guess there's more to it. I'm afraid I'll have to defer further investigation into this until I have a Mac/BSD box to test on.

[2017-07-21 07:37] marcofranssen opened #34 "on MacOS it shows internal error on gws ff"
On MacOS the following output occurs when running gws ff.
[code]

[2017-08-06 11:07] soifou commented on #34
I have the same problem (macOS 10.12.6, bash 4.4.12).

I looked into the code and I think I found the culprit. When fetching the revision in `git_check_branch_origin()` function, the branch name is interpreted with its ANSI color codes.
[code]
instead of
[code]

An ugly fix would be to escape the colors sequence to fetch only the raw branch name:
[code]

I don't know why Bash on macOS is reacting

[2017-08-08 18:34] emlun commented on #34
Sorry I've been slow to respond to this... Thanks @marcofranssen for the report and @soifou for the detailed additional info!

It does indeed seem weird that that should happen, and we do indeed not want to work with colorized branch names internally. I think explicitly setting `--no-color` in `git_branches` function should do it.

[2017-08-08 18:38] emlun commented on #34
@marcofranssen Does eac68e3 on the `issue-34` branch work better?

[2017-08-08 18:40] #33 closed

[2017-08-09 15:02] soifou commented on #34
I answer for him.

This commit fix the "Internal error" thing but you have to add the `--no-color` param also in `git_branch()` l. 558. Without it, It adds an extra clean branch line for those in dirty state.

Current
[code]

Param `--no-color` in `git_branches()` only
[code]

Param `--no-color` in `git_branches()` and `git_branch()`
[code]

And last but not least we loose the current branch indic

[2017-08-10 07:34] marcofranssen commented on #34
I can confirm it resolves the issue on Mac. On Windows it still looks to be the same and still works.

[2017-08-11 18:58] emlun commented on #34
Gotcha, I've taken inventory and added `--no-color` to all `git branch` commands. This will be included in the next release, which I hope to make in the coming few days.

Did gws ever have a current branch indicator?

[2017-08-11 20:41] emlun commented on #23
This has now been merged into the main development branch, and will be released soon. Thanks for contributing! :)

I also split the color aliases a little more, and added the following:

- `C_ERROR`: red, used in error messages
- `C_VERSION`: red, used in the `gws version` command
- `C_HELP_PROGNAME`: red, used in the usage help texts
- `C_HELP_DIR`: green, used in the usage help texts

[2017-08-11 23:04] #20 closed

[2017-08-11 23:05] #23 closed

[2017-08-11 23:05] #34 closed

[2017-08-12 17:18] emlun commented on #5
It would be trivial to distribute a symlink `/usr/bin/git-workspace => gws` which would make it invokable as `git workspace`, or the like. We could add this to the README as a suggestion to packagers. :)

The question then is whether we should "rebrand" it as a git subcommand first and foremost, and a standalone utility second, or keep it the other way around. I like both options, but I think it w

[2017-08-12 17:42] damianfanaro opened #36 "Typo in line 1111: "gws is an helper...""
Change `gws is an helper` for `gws is a helper`.

https://github.com/StreakyCobra/gws/blob/1c3338897f8423056ee6df2823642873ba50fc47/src/gws#L1111

[2017-08-14 00:06] emlun commented on #36
Thanks! I went through the source code and README and fixed a few other things too. I don't feel that this is urgent enough for a new release just yet, but the changes are available on master if you want to upgrade for yourself.

[2017-08-14 00:06] #36 closed

[2017-08-17 12:34] yang-ling opened #37 "`gws --help` says "Not in a workspace""
When I run `gws --help` , it said "Not in a workspace"

I checked source code,  and found `.projects.gws` file is required by all commands other than `gws init`

I don't think we need `.project.gws` file to run `gws --help`. It only prints help messages after all.

`gws --help` may be the first command a new user would run.  The message "Not in a workspace" would confuse new users like me much.

[2017-08-17 12:50] emlun commented on #37
Thanks for the report! I noticed that as well and have already fixed it. :) I'll try to get a release out in the next few days.

[2017-08-17 12:50] #37 closed

[2017-08-17 19:40] emlun commented on #37
This is now fixed in [0.1.16](https://github.com/StreakyCobra/gws/releases/tag/0.1.16). Thanks again!

[2017-11-23 11:20] emlun opened #39 "Mention cache file in help text"
If the cache file gets corrupted, gws can mysteriously stop working correctly. Adding a mention of `.cache.gws` to the help text could help ease the confusion.

[2017-11-23 11:21] emlun opened #40 "Add command for clearing cache?"
Related to #39

[2018-02-06 09:52] makapuf opened #41 "add custom command ability"
It would be nice to add the ability to run any (git) command on every projects of the workspace.
My main use case here would be to check the sha1 status of each of the projects (by issuing `git rev-parse HEAD` for each repo) but there can be other uses.

[2018-02-06 21:40] emlun commented on #41
This has been discussed before (#31)... but I might reconsider given the now doubled demand for it. :)

[2018-02-06 21:51] makapuf commented on #41
After reading thw reasons it was closed I can understand. Another possibility would be to add sha1 in the status but I'd say this run or foreach command could be useful and not that simple to implement with a oneliner of you consider the case of deeper git directories or non git dirs besides git dirs  . I can also think of `gws do -- make`

[2018-03-21 09:20] thomas-lemaire opened #42 "gws status display the current branch"
the `gws status` shows all branches and their status (*clean*, *dirty*,...). That would be nice to have some visual clue to show which branch is currently checked out

[2018-03-22 23:11] emlun commented on #42
Good idea, I agree. I'm afraid I can't promise anything about when I'll have time to implement it, though. You're welcome to contribute the feature if you feel like it.

[2018-03-23 08:17] thomas-lemaire commented on #42
I could have a look, *bash* is generally not my cup of tee

[2018-03-28 09:38] thomas-lemaire commented on #42
ok, I just did a *pull request*, I let you check

[2018-04-06 10:15] bittner opened #44 "Add gws to git-extras?"
We're using gws for our daily business, and it works out fine as an alternative to Git submodules. Personally, I see it as a bit of a downside, though, that it needs to be included (as in version controlled) into our code base.

As I'm installing the magnificent [git-extras](https://github.com/tj/git-extras) Git plugin collection anyway on my developer machine, which is easy to install system-wide

[2018-04-06 10:47] StreakyCobra commented on #44
Hi Peter,

_Note: The current maintainer is Emil Lundberg (@emlun), so I'll give my opinion as the original author and "owner" of the project's repository only._

I am now a simple user of `gws`, and like you said, it works fine for my daily business as well. This tool certainly deserves some love to fix existing issues and add new features, but sadly I don't have, and didn't had, enough time for

[2018-04-06 11:39] StreakyCobra commented on #44
Indeed, thanks to bash :see_no_evil:

I also started to [rewrite it](https://github.com/prevy/prevy-rust) in rust 2 years ago :rofl: But I was too ambitious. I wrote the part handling the workspaces with yaml files, with also the possibility to have a user config file, then I wanted it to be tool independent (git, hg, etc), and all this with multiprocessing for speeding up the execution. I should

[2018-04-06 11:48] emlun commented on #44
Cool! Yeah, what I was thinking was to keep it as simple as possible, ideally eliminating the cache file and making it completely stateless too. I might take a look at Prevy if/when I get around to starting out on it.

[2018-04-06 11:50] bittner commented on #44
@emlun
`git-extras` is simply a collection of Git plugins. In other words, you install it (e.g. via `sudo apt-get install git-extras`) and get a bunch of extra Git commands that speed you up with Git and make your life easier.

The [project README](https://github.com/tj/git-extras#git-extras) has a link to an introductory video. Take a look!

Blurb
-----

The nice thing about this project is not o

[2018-04-11 14:04] bittner commented on #44
If you want to proceed I'd suggest to open an issue at [tj/git-extras](https://github.com/tj/git-extras/issues/new) to discuss a potential transition.

[2018-04-11 17:04] emlun commented on #44
@bittner Thanks, I'll get back to this after next week.

[2018-04-26 18:06] emlun commented on #44
Hi again!

@bittner I don't quite get what you mean here. What code base do you need to include gws into?

[2018-04-27 06:04] bittner commented on #44
As we use gws we have to add it to our code base, <s>not as a dependency but</s> verbatim as source code. **EDIT:** With git-extras this is a different story: We would only mention this in the README or we  handle it as a dependency somehow. Also, every developer may have it installed by default along with Git, and updates are handled by the system's package manager.

Hence, we have to maintain _y

[2018-06-01 08:05] emlun commented on #44
Oh, I had assumed you'd install gws also via the system's package manager. What distribution(s) are you using?

I feel like gws is probably a bit too big and complex to be a good fit for inclusion in git-extras. Not only in terms of sheer code volume, but also in how the gws README is almost as big as the entire commands page in git-extras. gws also keeps its own configuration and state externally

[2018-06-01 08:05] #44 closed

[2018-06-07 13:11] pimjansen opened #45 "Option to specify target branch"
Hey,

Im trying to run `GWS` and target it on a specific branch but seems it is not possible? In this case i tried with a tag but also branches do not seem to work. Is this valid or did i miss something?
[code]
[code]

[2018-06-07 13:26] emlun commented on #45
Hi! Specifying the initial branch to check out as HEAD is indeed not currently supported. On the other hand, running `gws clone` or `gws fetch` will fetch all remote branches, and `gws ff` will fast-forward all local branches to their respective latest upstream. So all that this feature would add in practice is to manually check out the branch you want as HEAD.

I guess it could make sense to add

[2018-06-07 13:42] pimjansen commented on #45
@emlun thanks for the quick reply. I was just checking the source and tried to add some things but got a bit stick in the sed commands though. Overall i think it is pretty easy since it is native `GIT` to run such commands. The use case where im having it is that my dev team uses it for development to setup their development box but on default all is target on `master`. I also have some sub refere

[2018-06-07 13:54] emlun commented on #45
Yeah, that's a good idea. I'll take a look at it, maybe I can find some time in the next 2 weeks. You're also welcome to contribute a PR before that, of course. I think the way I would go about it is to enable this only if the remote has an explicit name (the first two are implicitly named `origin` and `upstream` if none is given), to avoid ambiguity in parsing it.

[2018-09-27 19:34] oupala opened #46 "offer to download gws script only"
For [version 0.1.8](/StreakyCobra/gws/releases/tag/0.1.8), it was possible to download the [gws script](https://github.com/StreakyCobra/gws/releases/download/0.1.8/gws) only, with a well formed url.

Since version, 0.1.10, we can only download the whole source code, in a zip or in a tar.gz format. It is quite bad as we only need the gws script, not all the test and libs.

Do you think it could be

[2018-09-27 21:09] emlun commented on #46
Ah, I see. Sorry, I hadn't even considered that. That can certainly be arranged!

[2018-09-28 22:20] emlun commented on #46
The standalone script is now attached to all releases from 0.1.10 onward, along with a PGP signature. I hope you don't mind I also added the version number to the file name - let me know if that is a problem.

[2018-09-28 22:20] #46 closed, assigned to emlun

[2018-09-29 07:37] oupala commented on #46
I understand that you added the version number in the filename so that each file can be signed individually.

But would it be possible to propose a standalone script without the version number in the filename? This makes my install process cleaner as my ansible playbook can now check if the file has changed before updating it:

See [ansible get_url module](https://docs.ansible.com/ansible/latest/m

[2018-09-29 10:09] emlun commented on #46
Hm, I don't think I understand your use case. The whole point of downloading a new version is that the file has definitely changed, no?

[2018-09-29 19:17] oupala commented on #46
Ok, I have to explain a bit more. Maybe you don't have experienced ansible, have you?

There is two way to download a file using the get_url module of ansible:

- either you specify a full path for the destination, such as `/usb/bin/gws` and another parameter `force` tells ansible to download the file each time if `force: true` or to download it only of the file does not exists if `force: false`
-

[2018-09-29 21:39] emlun commented on #46
Sorry, no, I have not used ansible. Ok, so if I try to enumerate the different combinations of options, as far as I can tell there are these possible scenarios. I will assume there is some way to substitue a version number into the `url` option.

1. `url: "https://github.com/StreakyCobra/gws/releases/download/$version/gws-$version", dest: "/usr/bin/"`
    - ~~Destination: `/usr/bin/gws-$version`~~

[2018-09-30 18:48] oupala commented on #46
I don't assume that you're trying to fight me. In fact, I do appreciate the way you try to analyze the situation, and possible solutions.

I'll try to explain the differences between (3) and (4).

For (3), *replace only if contents changed* is false, as `force` is set to **yes**, the file will always be downloaded and the ansible task will always be reported as changed, or updated, whatever the fi

[2018-09-30 23:21] emlun commented on #46
So are you saying that these two very similar statements in the [docs][docs] mean different things?

- If `dest` is a directory, the file will **always be downloaded** (regardless of the `force` option), but **replaced only if the contents changed.**
- If [`force` is] `yes` and `dest` is not a directory, will **download the file every time** and **replace the file if the contents change**.

[docs]

[2018-10-01 08:48] oupala commented on #46
You make me doubt. I'll double check and come back here once tested...

[2018-10-01 19:57] oupala commented on #46
I tested the two usecases and it appears that you were right.

I don't have anything to add except that your last statement was right, and that my task **is idempotent**.

Here is how I use ansible to install gws (just after installing git) on my servers:

[code]

Thanks @emlun for finding the best solution with me!

[2018-10-01 21:32] emlun commented on #46
Great! Glad I could help!

[2019-05-24 22:31] emlun opened #48 "Early access: gws2 rewrite"
Hello gws users!

For a while now I've been working on porting gws to a language easier to maintain, and I'm pleased to announce that my Rust port [gws2](https://github.com/emlun/gws2) is now complete enough to let it try its wings in the real world and see what breaks. It's meant to be a backwards compatible drop-in replacement, but hasn't yet reached feature parity with the original. Still, the

[2019-05-25 22:30] StreakyCobra commented on #48
Thanks @emlun for the work :) I tried it quickly and it is sooooo much faster! And it worked out of the box on my current workspace as expected. I also looked a bit at the code and it looks well done, congrats!

Concerning the future, I think your version would be better suited than this one, and having a number (2) in the name does not look nice and is definitively not helpful. For me, you can ta

[2019-05-26 13:32] emlun commented on #48
Thanks @StreakyCobra! I agree with you on all points. I'm not quite sure what to do about the name - I do want to distribute the binary as `gws` and not `gws2`, but I also would like to keep the project named `gws2` to disambiguate it from the original. In the end I might go with renaming it to `gws` to avoid confusion between the project name and binary name, but I don't know. Maybe keep it `gws2

[2019-05-26 16:04] StreakyCobra commented on #48
Why do you want to disambiguate it from the original? As you made it backward compatible, it is not a totally new project, it is a rewrite in another language. This is technical choice, the usage stays the same. You can simply take the name `gws` and continue with it :smiley: But this choice is yours at the end, just my humble opinion!

Amazing :1st_place_medal:

[2019-05-26 22:46] emlun commented on #48
True, good points. :slightly_smiling_face: I just pushed out an [AUR package][aur], and in packaging it with shell completion I decided it probably does make the most sense to rename it to `gws`. So now I've renamed everything except for the GitHub repository to that. :smile: I think I'll let `gws2` remain in the repo name and AUR package name for now, and rename those in conjunction with the 1.0

[2019-10-21 08:56] marcofranssen opened #49 "gws update does not clone new added configs (v0.2.0) MacOS"
In order to pull in newly added repositories in the config I always have to remove the cache files.

I would expect `gws update` to identity new entries have been added an pull the repos automatically.

[2019-10-27 19:18] emlun commented on #49
Hi! Thanks for the report and sorry for being slow.  Unfortunately I don't envision fixing this as most of what time I spend on `gws` has shifted to [gws2](https://github.com/emlun/gws2). I'd be happy to accept a pull request, though.

[2020-03-20 09:09] oupala opened #51 "gws should display the number of stash per git repo"
As a stash is a good indicator of WIP and on-going work, gws should display the number of stash per git repo.

[2020-10-31 23:25] #45 closed, assigned to emlun